.container {
   color: white;
}

.hero {
    height: 100% !important;
}

#break {
   display: flex !important;
   margin-top: 0 !important;
   padding-bottom: 6% !important;
}

.break {
   padding-top: 4% !important;
   padding-bottom: 15% !important;
   margin-top: 0 !important;
   margin-top: 0 !important;
   height: 100% !important;
}

@media screen and (max-width: 625px) {
    .break {
        height: 100% !important;
        padding-bottom: 16% !important;
    }
}