#container {
   color: var(--cor-texto);
}

/*---------------Secao Hero-----------*/
#container > #hero {
   background-image: url("/src/assets/champions.gif");
   background-position: center center;
   background-size: cover;
   position: relative;
   height: 100%;
}

#container > #hero::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, black 100%);
   height: 30%;
}

#container > #hero > div {
   width: 100%;
   background-color: rgba(0, 0, 0, 0.911);
   height: 100%;
   padding-inline: 25%;
   padding-top: 4%;
}

#container > #hero > div > div {
   opacity: 1;
   display: grid;
   grid-template-columns: 50% 50%;
   padding-bottom: 16%;
   z-index: 5;
}

#container > #hero > div > div > #left {
   display: flex;
   flex-direction: column;
   align-items: start;
   display: flex;
   flex-flow: column;
   justify-content: start;
}

#container > #hero > div > div > #left > p {
   margin-top: 2em;
   font-size: 25px;
}

#container > #hero > div > div > #left > a {
   background-color: #7f902d;
   padding: 10px 5em;
   color: black;
   font-size: 18px;
   margin-top: 3em;
   margin-bottom: 1em;
   letter-spacing: 2px;
   z-index: 6;
   transition: all 0.3s;
}

#container > #hero > div > div > #left > a:hover {
   background-color: orange;
   transform: translateY(-5px);
}

#container > #hero > div > div > #right {
   display: flex;
   flex-direction: column;
   align-items: end;
   justify-content: center;
}

#container > #hero > div > div > #right > img {
   width: 190px;
}

.titulo1 {
   font-weight: 900;
   font-size: 6em;
   text-transform: uppercase;
}

.titulo2 {
   text-transform: uppercase;
   position: relative;
   font-weight: 900;
   font-size: 2.7em;
   width: fit-content;
   display: flex;
   flex-flow: row nowrap;
}

.titulo2::after {
   content: "";
   position: absolute;
   bottom: 13px;
   right: -18px;
   width: 10px;
   height: 10px;
   background: orange;
}

/*----------Secao sobre------------*/
#sobre {
   display: flex;
   flex-flow: column;
   align-items: center;
   padding-block: 6%;
}

#sobre .titulo2::before {
   background-image: url("/src/assets/icon.png");
   background-size: 55px 55px;
   height: 55px;
   width: 55px;
   margin-right: 7px;
   content: "";
}

#sobre > div {
   font-size: 20px;
   text-align: center;
   margin-top: 1%;
}

#sobre > div > p {
   margin-top: 3px;
}

#sobre > div > span {
   color: gray;
}

#sobre > div > p > span {
   color: rgb(82, 82, 82);
}

/*------Secao de start ----------*/
#startContainer {
   padding-inline: 25%;
   margin-top: 5%;
}

#startContainer > .greyBar {
   background-color: #1c1c1b;
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   padding-left: 2em;
   padding-block: 0.5em;
}

#startContainer .greyBar > img {
   width: 50px;
}

#startContainer .greyBar > p {
   margin-left: 1em;
   font-size: 20px;
}

#startContainer > .box {
   border: 1px solid grey;
   padding: 1.2em;
   display: flex;
   flex-flow: column;
}

#startContainer > .box > a {
   background-color: white;
   color: rgb(29, 29, 29);
   text-align: center;
   font-size: 2em;
   font-weight: 800;
   font-family: Arial, Helvetica, sans-serif;
   margin-top: 2em;
   transition: all 0.3s ease-in-out;
}

#startContainer > .box > a:hover {
   background-color: orange;
}

#startContainer > .box1 {
   margin-top: 3%;
   border: 1px solid grey;
   padding-top: 1%;
   padding-inline: 0.3%;
   padding-bottom: 2%;

   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
}

#startContainer > .box1 > .greyBar {
   background-color: #1c1c1b;
   text-align: center;
   width: 100%;
   margin-bottom: 1em;
}

#startContainer > .box1 > .greyBar > p {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 800;
   color: #777978;
   text-shadow: #000000 1px 8px 1px;
   padding-block: 1em;
   font-size: 1.7em;
}

#startContainer > .titulo2 {
   margin: 0 auto;
   margin-top: 3em;
}

#startContainer > .titulo2::before {
   background-image: url("/src/assets/roadIco.png");
   background-size: 55px 55px;
   content: "";
   width: 55px;
   height: 55px;
   margin-right: 10px;
}

#startContainer > p {
   text-align: center;
   font-size: 18px;
   font-weight: 500;
   margin-top: 5px;
   margin-bottom: 15em;
}

@media screen and (max-width: 1527px) {
   #startContainer > .titulo2::before {
      background-size: 49px 49px;
      width: 49px;
      height: 49px;
      margin-right: 16px;
   }
}

@media screen and (max-width: 1457px) {
   #container > #hero > div {
      padding-inline: 20%;
   }
}

@media screen and (max-width: 1389px) {
   #container > #hero > div > div {
      grid-template-columns: 60% 40%;
   }

   .titulo1 {
      font-size: 5em;
   }
}

@media screen and (max-width: 1265px) {
   #container > #hero > div {
      padding-inline: 15%;
   }

   #startContainer > .box > a {
      font-size: 1.6em;
   }
}

@media screen and (max-width: 1077px) {
   .titulo1 {
      font-size: 4em;
   }

   .titulo2 {
      font-size: 2em;
   }

   .titulo2::after {
      bottom: 10px;
   }

   #container > #hero > div > div > #left > p {
      font-size: 22px;
   }

   #container > #hero > div {
      padding-top: 6%;
   }

   #container > #hero > div > div > #right > img {
      width: 150px;
   }

   #sobre > div {
      margin-top: 3%;
   }

   #sobre .titulo2::before {
      background-size: 40px 40px;
      height: 40px;
      width: 40px;
   }

   #startContainer > .titulo2::before {
      background-size: 40px 40px;
      width: 40px;
      height: 40px;
      margin-right: 16px;
   }

   #startContainer {
      padding-inline: 20%;
      margin-top: 8%;
   }
}

@media screen and (max-width: 887px) {
   #startContainer > p {
      margin-bottom: 7em;
   }
   #container > #hero > div > div > #left > p {
      font-size: 18px;
   }

   .titulo1 {
      font-size: 3em;
   }

   .titulo2 {
      font-size: 1.7em;
   }

   .titulo2::after {
      bottom: 7px;
   }

   #container > #hero > div > div > #right > img {
      width: 120px;
   }

   #sobre {
      padding-inline: 5%;
   }

   #sobre .titulo2::before {
      background-size: 35px 35px;
      height: 35px;
      width: 35px;
   }

   #startContainer > .titulo2::before {
      background-size: 33px 33px;
      width: 33px;
      height: 33px;
      margin-right: 16px;
   }

   #container > #hero > div {
      padding-top: 9%;
   }

   #startContainer {
      padding-inline: 15%;
   }
   #sobre > div {
      font-size: 17px;
   }
}

@media screen and (max-width: 721px) {
   #container > #hero > div {
      padding-inline: 10%;
   }

   #container > #hero > div > div > #left > a {
      padding-inline: 3em;
   }

   #startContainer > .box1 {
      margin-top: 5%;
   }

   #startContainer > .box1 .greyBar > p {
      padding-block: 0.5em;
   }
}

@media screen and (max-width: 625px) {
   #container > #hero {
      height: 100%;
   }

   #container > #hero > div > div > #left > p {
      font-size: 15px;
   }

   .titulo1 {
      font-size: 2.4em;
   }

   .titulo2 {
      font-size: 1.5em;
   }

   #sobre .titulo2::before {
      background-size: 30px 30px;
      height: 30px;
      width: 30px;
   }

   #container > #hero > div > div > #right > img {
      width: 100px;
   }

   #container > #hero > div > div > #left > a {
      margin-top: 2em;
   }

   #startContainer {
      padding-inline: 8%;
   }

   #container > #hero > div > div {
      padding-bottom: 20%;
   }
}

@media screen and (max-width: 541px) {
   .titulo1 {
      font-size: 2em;
   }

   .titulo2 {
      font-size: 1.1em;
   }

   #sobre > div > p {
      font-size: 15px;
   }

   #sobre .titulo2::before {
      background-size: 22px 22px;
      height: 22px;
      width: 22px;
   }

   #startContainer > .titulo2::before {
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
      margin-right: 16px;
   }

   #startContainer .greyBar > img {
      width: 30px;
   }

   #startContainer > .box > a {
      font-size: 1.3em;
   }

   #startContainer > .box > p {
      font-size: 15px;
   }

   #container > #hero > div > div {
      padding-bottom: 12%;
   }
}

@media screen and (max-width: 450px) {
   .titulo1 {
      font-size: 1.8em;
   }

   #container > #hero > div > div > #left > a {
      font-size: 15px;
   }

   #container > #hero > div > div {
      padding-bottom: 15%;
   }

   #sobre {
      padding-block: 8%;
   }
}
