#container {
   background-color: var(--cor-fundo0);
   padding-inline: 5%;
   padding-block: 4px;
}

#logo {
   width: 100px;
   margin-right: 0.8em;
}

#container > nav {
   display: flex;
   justify-content: left;
   align-items: center;
}

#container > nav > a {
   margin-right: 2%;
   font-size: 17px;
   text-transform: uppercase;
}

@media screen and (max-width: 710px) {
   #logo {
      width: 85px;
   }

   #container > nav > a {
      font-size: 15px;
   }

   #container {
      padding-block: 6px;
   }
}

@media screen and (max-width: 710px) {
   #logo {
      width: 70px;
   }

   #container > nav > a {
    margin-right: 3%;
   } 
}

@media screen and (max-width: 410px) {
    #container > nav > a {
        font-size: 13px;
     }  
}
