#container {
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
   color: var(--cor-texto);
   padding-bottom: 2%;
}

#container > ul {
   display: flex;
   flex-flow: row nowrap;
   margin-bottom: .4em;
}

#container > ul > a {
   margin-inline: 0.5em;
   color: grey;
   font-size: 1.4em;
}

#container > ul > a:hover {
    color: var(--cor-texto);
}

